.height-65 {
    height: 65px;
    background-color: #D9E4EC;
}

.link-menu {
    text-decoration: none !important;
    color: #000000;
    margin-right: 20px;
    cursor: pointer;
    transition: all .5s;
    font-size: 14px;
}

.link-menu:hover {
    color: blue;
}

.padding-top-20 {
    padding-top: 20px;
}

.padding-top-10 {
    padding-top: 16px;
}

.margin-top-22 {
    margin-top: 22px !important;
}

.font-size-superio {
    font-size: 20px;
}

.primeiro-botao-menu {
    background-color: transparent;
    color: blue;
    border: 1px solid transparent;
}

.primeiro-botao-menu:hover {
    background-color: transparent;
    color: blue;
    border: 1px solid transparent;
}

.segundo-botao-menu {
    background-color: #f8f9fa;
    color: blue;
    border: 1px solid transparent;
    border-radius: 5px;
    margin-right: 20px;
}

.segundo-botao-menu:hover {
    background-color: #f8f9fa;
    color: blue;
    border: 1px solid transparent;
    border-radius: 5px;
    margin-right: 20px;
}

.terceiro-botao-menu {
    border-radius: 5px;
    width: 105px;
}

.container {
    display: inline-block;
    cursor: pointer;
  }
  
.bar1, .bar2, .bar3 {
    width: 35px;
    height: 5px;
    background-color: #333;
    margin: 6px 0;
    transition: 0.4s;
}

.change .bar1 {
    -webkit-transform: rotate(-45deg) translate(-9px, 6px);
    transform: rotate(-45deg) translate(-9px, 6px);
}

.change .bar2 {
    opacity: 0;
}

.change .bar3 {
    -webkit-transform: rotate(45deg) translate(-8px, -8px);
    transform: rotate(45deg) translate(-8px, -8px);
}

.background-color-section {
    height: 600px;
    background-color: #d9e4ec;
}

.margin-top-90 {
    margin-top: 90px;
}

.color-blue {
    color: #0d6efd;
}

.color {
    color: #50658e;
}

.div-input {
    height: 100px;
    margin-top: 30px;
    background-color: white;
    border-radius: 10px;
}

.fa-search {
    font-size: 20px;
    margin-left: 15px;
    margin-top: 40px;
    color: gray;
}

.input-1 {
    width: 260px;
    margin-top: -30px;
    margin-left: 40px;
    border: 1px solid white;
}

.div-vertical {
    height: 77px;
    background-color: #0f69f2;
    width: 2px;
    position: absolute;
    left: 425px;
    top: 325px;
}

.fa-map-marker-alt {
    position: absolute;
    left: 440px;
    top: 355px;
    font-size: 20px;
    color: gray;
}

.input-2 {
    width: 150px;
    margin-top: -38px;
    margin-left: 345px;
    border: 1px solid white;
}

.button-find-jobs {
    margin-left: 515px;
    margin-top: -65px;
}

.margin-top-20 {
    margin-top: 20px;
}

.image-man {
    height: 550px;
    margin-top: -30px;
    margin-left: -20px;
}

.primeira-imagem-topo-absolute {
    height: 185px;
    position: absolute;
    margin-top: 15px;
}

.segunda-imagem-topo-absolute {
    height: 185px;
    position: absolute;
    margin-top: -107px;
    margin-left: -35px;
}

.terceira-imagem-topo-absolute {
    height: 185px;
    position: absolute;
    margin-top: -107px;
    margin-left: -35px;
}

.height-700 {
    height: 600px;
}

.margin-top-60 {
    margin-top: 60px;
}

.height-400 {
    height: 400px;
    margin-top: 50px;
}

.div-border {
    border: 1px solid #d9e4ec;
    height: 100px;
    border-radius: 5px;
    cursor: pointer;
}

.background-color-div {
    height: 60px;
    background-color: #d9e4ec;
    width: 60px;
    margin: 20px;
    border-radius: 5px;
}

.icones-segunda-section {
    color: blue;
    font-size: 24px;
    margin: 18px;
}

.primeira-div-conteudo {
    margin-top: -72px;
    margin-left: 100px;
    line-height: 10px;
}

.primeira-div-conteudo h6 {
    color: #000000;
}

.primeira-div-conteudo small {
    color: grey;
}

.divisor-segunda-section {
    width: 100%;
    height: 1px;
    background-color: #d9e4ec;
}

@media (max-width: 320px) {
    #menu-notebook {
        display: none;
    }
    
    .espacamento-menu {
        margin-left: 210px;
        margin-top: 10px;
    }

    .div-link-menu-responsivo {
        background-color: white;
        min-height: 118vh;
        max-height: 105vh;
        width: 271px;
        padding: 1.5rem 1.5rem;
        box-shadow: 0px 5px 40px 0px rgb(80 101 142 / 8%);
        transform: translateX(-100%);
        z-index: 888;
        overflow: auto;
        padding-top: 80px;
        margin-left: 255px;
        margin-top: -56px;
        line-height: 36px;
    }

    .class-link-responsivo {
        color: #000000;
        text-decoration: none !important;
    }

    .col-animation {
        position: fixed;
        top: 0;
        bottom: -1px;
        left: 255px;
        right: 0px;
        z-index: 777;
        background: rgba(27,71,161,0.8);
        padding-right: 32em;
    }

    .menu-aberto {
        display: block;
        z-index: 1000;
        position: absolute;
        margin-top: -5px;
    }

    #row-responsivo {
        display: none;
    }

    #imagem-homem-topo {
        display: none;
    }

    .div-input {
        height: 220px;
        margin-top: 30px;
        background-color: white;
        border-radius: 10px;
    }

    .input-1 {
        width: 227px;
        margin-top: -30px;
        margin-left: 45px;
        border: 1px solid white;
        font-size: 14px;
    }

    .div-vertical {
        display: none;
    }

    .fa-map-marker-alt {
        position: absolute;
        left: 43px;
        top: 422px;
        font-size: 20px;
        color: gray;
    }

    .input-2 {
        width: 150px;
        margin-top: 10px;
        margin-left: 45px;
        border: 1px solid white;
        font-size: 14px;
    }

    .button-find-jobs {
        margin-left: 18px;
        margin-top: 25px;
    }

    .background-color-section {
        height: 625px;
        background-color: #d9e4ec;
    }

    .height-700 {
        height: 1270px;
    }
}

@media (min-width: 321px) and (max-width: 375px) {
    #menu-notebook {
        display: none;
    }
    
    .espacamento-menu {
        margin-left: 270px;
        margin-top: 10px;
    }

    .div-link-menu-responsivo {
        background-color: white;
        min-height: 118vh;
        max-height: 105vh;
        width: 278px;
        padding: 1.5rem 1.5rem;
        box-shadow: 0px 5px 40px 0px rgb(80 101 142 / 8%);
        transform: translateX(-100%);
        z-index: 888;
        overflow: auto;
        padding-top: 80px;
        margin-left: 262px;
        margin-top: -56px;
        line-height: 36px;
    }

    .class-link-responsivo {
        color: #000000;
        text-decoration: none !important;
    }

    .col-animation {
        position: fixed;
        top: 0;
        bottom: -1px;
        left: 262px;
        right: 0px;
        z-index: 777;
        background: rgba(27,71,161,0.8);
        padding-right: 32em;
    }

    .menu-aberto {
        display: block;
        z-index: 1000;
        position: absolute;
        margin-top: -5px;
    }

    #row-responsivo {
        display: none;
    }

    #imagem-homem-topo {
        display: none;
    }

    .div-input {
        height: 220px;
        margin-top: 30px;
        background-color: white;
        border-radius: 10px;
    }

    .input-1 {
        width: 260px;
        margin-top: -30px;
        margin-left: 45px;
        border: 1px solid white;
    }

    .div-vertical {
        display: none;
    }

    .fa-map-marker-alt {
        position: absolute;
        left: 43px;
        top: 375px;
        font-size: 20px;
        color: gray;
    }

    .input-2 {
        width: 150px;
        margin-top: 10px;
        margin-left: 45px;
        border: 1px solid white;
    }

    .button-find-jobs {
        margin-left: 18px;
        margin-top: 25px;
    }

    .background-color-section {
        height: 570px;
        background-color: #d9e4ec;
    }

    .height-700 {
        height: 1270px;
    }
}

@media (min-width:  376px) and (max-width: 576px) {
    #menu-notebook {
        display: none;
    }
    
    .espacamento-menu {
        margin-left: 300px;
        margin-top: 10px;
    }

    .div-link-menu-responsivo {
        background-color: white;
        min-height: 118vh;
        max-height: 105vh;
        width: 302px;
        padding: 1.5rem 1.5rem;
        box-shadow: 0px 5px 40px 0px rgb(80 101 142 / 8%);
        transform: translateX(-100%);
        z-index: 888;
        overflow: auto;
        padding-top: 80px;
        margin-left: 278px;
        margin-top: -56px;
        line-height: 36px;
    }

    .class-link-responsivo {
        color: #000000;
        text-decoration: none !important;
    }

    .col-animation {
        position: fixed;
        top: 0;
        bottom: -1px;
        left: 278px;
        right: 0px;
        z-index: 777;
        background: rgba(27,71,161,0.8);
        padding-right: 32em;
    }

    .menu-aberto {
        display: block;
        z-index: 1000;
        position: absolute;
        margin-top: -5px;
    }

    #row-responsivo {
        display: none;
    }

    #imagem-homem-topo {
        display: none;
    }

    .div-input {
        height: 220px;
        margin-top: 30px;
        background-color: white;
        border-radius: 10px;
    }

    .input-1 {
        width: 260px;
        margin-top: -30px;
        margin-left: 45px;
        border: 1px solid white;
    }

    .div-vertical {
        display: none;
    }

    .fa-map-marker-alt {
        position: absolute;
        left: 43px;
        top: 375px;
        font-size: 20px;
        color: gray;
    }

    .input-2 {
        width: 150px;
        margin-top: 10px;
        margin-left: 45px;
        border: 1px solid white;
    }

    .button-find-jobs {
        margin-left: 18px;
        margin-top: 25px;
    }

    .background-color-section {
        height: 570px;
        background-color: #d9e4ec;
    }

    .height-700 {
        height: 1270px;
    }
}

@media (min-width: 577px) and (max-width: 768px) {
    #menu-notebook {
        display: none;
    }

    .espacamento-menu {
        margin-left: 600px;
        margin-top: 10px;
    }

    .div-link-menu-responsivo {
        background-color: white;
        min-height: 118vh;
        max-height: 105vh;
        width: 302px;
        padding: 1.5rem 1.5rem;
        box-shadow: 0px 5px 40px 0px rgb(80 101 142 / 8%);
        transform: translateX(-100%);
        z-index: 888;
        overflow: auto;
        padding-top: 80px;
        margin-left: 278px;
        margin-top: -56px;
        line-height: 36px;
    }

    .class-link-responsivo {
        color: #000000;
        text-decoration: none !important;
    }

    .col-animation {
        position: fixed;
        top: 0;
        bottom: -1px;
        left: 301px;
        right: 0px;
        z-index: 777;
        background: rgba(27,71,161,0.8);
        padding-right: 32em;
    }

    .menu-aberto {
        display: block;
        z-index: 1000;
        position: absolute;
        margin-top: -5px;
    }

    #row-responsivo {
        display: none;
    }

    #imagem-homem-topo {
        display: none;
    }

    .input-1 {
        width: 260px;
        margin-top: -30px;
        margin-left: 45px;
        border: 1px solid white;
    }

    .div-vertical {
        height: 77px;
        background-color: #0f69f2;
        width: 2px;
        position: absolute;
        left: 350px;
        top: 270px;
    }

    .fa-map-marker-alt {
        position: absolute;
        left: 380px;
        top: 300px;
        font-size: 20px;
        color: gray;
    }

    .input-2 {
        width: 150px;
        margin-top: -38px;
        margin-left: 370px;
        border: 1px solid white;
    }

    .button-find-jobs {
        margin-left: 550px;
        margin-top: -65px;
    }

    .background-color-section {
        height: 400px;
        background-color: #d9e4ec;
    }

    .background-color-div {
        height: 60px;
        background-color: #d9e4ec;
        width: 60px;
        border-radius: 5px;
        margin-top: 20px;
        margin-left: 15px;
    }

    .primeira-div-conteudo {
        margin-top: -79px;
        margin-left: 85px;
        line-height: 10px;
    }
}

@media (min-width: 769px) and (max-width: 992px) {
   
}

@media (min-width: 993px) and (max-width: 1200px) {
    #menu-responsivo {
        display: none;
    }

    .link-menu {
        text-decoration: none !important;
        color: #000000;
        margin-right: 20px;
        cursor: pointer;
        transition: all .5s;
        font-size: 11px;
    }

    .font-size-superio {
        font-size: 17px;
    }

    .padding-top-10 {
        padding-top: 18px;
    }

    .primeiro-botao-menu {
        background-color: transparent;
        color: blue;
        border: 1px solid transparent;
        font-size: 13px;
    }

    .segundo-botao-menu {
        background-color: #f8f9fa;
        color: blue;
        border: 1px solid transparent;
        border-radius: 5px;
        margin-right: 20px;
        font-size: 13px;
    }

    .terceiro-botao-menu {
        border-radius: 5px;
        width: 105px;
        font-size: 13px;
    }

    .padding-top-10 {
        padding-top: 18px;
    }

    #row-responsivo {
        display: none;
    }

    .image-man {
        height: 435px;
        margin-top: -30px;
        margin-left: -21px;
    }

    .primeira-imagem-topo-absolute {
        height: 185px;
        position: absolute;
        margin-top: -13px;
        margin-left: -66px;
    }

    .segunda-imagem-topo-absolute {
        height: 185px;
        position: absolute;
        margin-top: -33px;
        margin-left: -35px;
    }

    .fa-search {
        font-size: 20px;
        margin-left: 12px;
        margin-top: 40px;
        color: gray;
    }

    .input-1 {
        width: 246px;
        margin-top: -30px;
        margin-left: 35px;
        border: 1px solid white;
        font-size: 15px;
    }

    .div-vertical {
        height: 77px;
        background-color: #0f69f2;
        width: 2px;
        position: absolute;
        left: 325px;
        top: 316px;
    }

    .fa-map-marker-alt {
        position: absolute;
        left: 335px;
        top: 345px;
        font-size: 20px;
        color: gray;
    }

    .input-2 {
        width: 148px;
        margin-top: -38px;
        margin-left: 305px;
        border: 1px solid white;
    }

    .button-find-jobs {
        margin-left: 445px;
        margin-top: -65px;
        font-size: 14px;
    }

    .background-color-section {
        height: 557px;
        background-color: #d9e4ec;
    }
}

@media (min-width: 1201px) {
    #menu-responsivo {
        display: none;
    }

    #row-responsivo {
        display: none;
    }
}